<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CUBE0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2042},{4,4}}</string>
			<key>offset</key>
			<string>{-197,-122}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,440},{4,4}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{1152,392},{44,76}}</string>
			<key>offset</key>
			<string>{-176,-103}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{282,385},{44,76}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{1888,664},{86,148}}</string>
			<key>offset</key>
			<string>{-155,-84}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{282,330},{86,148}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{1916,350},{128,218}}</string>
			<key>offset</key>
			<string>{-135,-66}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,277},{128,218}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{692,1750},{168,290}}</string>
			<key>offset</key>
			<string>{-114,-47}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{282,222},{168,290}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{1428,1232},{206,332}}</string>
			<key>offset</key>
			<string>{-96,-38}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{281,192},{206,332}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{1432,1008},{222,342}}</string>
			<key>offset</key>
			<string>{-79,-33}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{290,182},{222,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,848},{222,342}}</string>
			<key>offset</key>
			<string>{-53,-22}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{316,171},{222,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,842},{222,342}}</string>
			<key>offset</key>
			<string>{-28,-12}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{341,161},{222,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{1088,798},{222,342}}</string>
			<key>offset</key>
			<string>{-2,-2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{367,151},{222,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,624},{222,342}}</string>
			<key>offset</key>
			<string>{23,9}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{392,140},{222,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,618},{222,342}}</string>
			<key>offset</key>
			<string>{49,19}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{418,130},{222,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,400},{222,342}}</string>
			<key>offset</key>
			<string>{74,30}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{443,119},{222,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{1840,1004},{206,332}}</string>
			<key>offset</key>
			<string>{94,35}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{471,119},{206,332}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,1574},{174,300}}</string>
			<key>offset</key>
			<string>{110,42}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{503,128},{174,300}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{866,1614},{132,228}}</string>
			<key>offset</key>
			<string>{131,61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{545,145},{132,228}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{1888,570},{92,156}}</string>
			<key>offset</key>
			<string>{151,80}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{585,162},{92,156}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,494},{50,86}}</string>
			<key>offset</key>
			<string>{172,99}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{627,178},{50,86}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{2032,2},{10,14}}</string>
			<key>offset</key>
			<string>{192,118}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{667,195},{10,14}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{2032,14},{12,18}}</string>
			<key>offset</key>
			<string>{191,-118}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{665,429},{12,18}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,400},{54,92}}</string>
			<key>offset</key>
			<string>{170,-99}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{623,373},{54,92}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0032.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,1432},{96,166}}</string>
			<key>offset</key>
			<string>{149,-80}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{581,317},{96,166}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0033.png</key>
		<dict>
			<key>frame</key>
			<string>{{1488,1440},{140,238}}</string>
			<key>offset</key>
			<string>{127,-61}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{537,262},{140,238}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0034.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,1390},{182,312}}</string>
			<key>offset</key>
			<string>{106,-41}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{495,205},{182,312}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0035.png</key>
		<dict>
			<key>frame</key>
			<string>{{744,1066},{214,336}}</string>
			<key>offset</key>
			<string>{90,-36}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{463,188},{214,336}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0036.png</key>
		<dict>
			<key>frame</key>
			<string>{{1152,572},{224,342}}</string>
			<key>offset</key>
			<string>{67,-29}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{435,178},{224,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0037.png</key>
		<dict>
			<key>frame</key>
			<string>{{1496,784},{222,342}}</string>
			<key>offset</key>
			<string>{41,-18}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{410,167},{222,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0038.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,392},{224,342}}</string>
			<key>offset</key>
			<string>{14,-7}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{382,156},{224,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0039.png</key>
		<dict>
			<key>frame</key>
			<string>{{1544,558},{224,342}}</string>
			<key>offset</key>
			<string>{-12,4}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{356,145},{224,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0040.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,346},{224,342}}</string>
			<key>offset</key>
			<string>{-39,15}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{329,134},{224,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0041.png</key>
		<dict>
			<key>frame</key>
			<string>{{1572,332},{224,342}}</string>
			<key>offset</key>
			<string>{-65,25}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{303,124},{224,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0042.png</key>
		<dict>
			<key>frame</key>
			<string>{{1088,1022},{218,338}}</string>
			<key>offset</key>
			<string>{-89,34}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{282,117},{218,338}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0043.png</key>
		<dict>
			<key>frame</key>
			<string>{{1082,1242},{188,322}}</string>
			<key>offset</key>
			<string>{-104,37}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{282,122},{188,322}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0044.png</key>
		<dict>
			<key>frame</key>
			<string>{{1888,752},{146,250}}</string>
			<key>offset</key>
			<string>{-126,56}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,139},{146,250}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0045.png</key>
		<dict>
			<key>frame</key>
			<string>{{1924,110},{102,176}}</string>
			<key>offset</key>
			<string>{-147,76}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{282,156},{102,176}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0046.png</key>
		<dict>
			<key>frame</key>
			<string>{{1924,288},{60,102}}</string>
			<key>offset</key>
			<string>{-169,95}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{281,174},{60,102}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0047.png</key>
		<dict>
			<key>frame</key>
			<string>{{2028,126},{18,28}}</string>
			<key>offset</key>
			<string>{-190,114}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,192},{18,28}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0048.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0049.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0050.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0051.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0052.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0053.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0054.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0055.png</key>
		<dict>
			<key>frame</key>
			<string>{{8,2042},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0056.png</key>
		<dict>
			<key>frame</key>
			<string>{{2032,34},{8,10}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{475,314},{8,10}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0057.png</key>
		<dict>
			<key>frame</key>
			<string>{{2032,94},{8,30}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{475,304},{8,30}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0058.png</key>
		<dict>
			<key>frame</key>
			<string>{{2032,44},{8,48}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{475,295},{8,48}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0059.png</key>
		<dict>
			<key>frame</key>
			<string>{{1762,1232},{66,68}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{446,285},{66,68}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0060.png</key>
		<dict>
			<key>frame</key>
			<string>{{1400,1440},{88,86}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{435,276},{88,86}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0061.png</key>
		<dict>
			<key>frame</key>
			<string>{{1924,2},{106,106}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{426,266},{106,106}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0062.png</key>
		<dict>
			<key>frame</key>
			<string>{{1096,1614},{124,124}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{417,257},{124,124}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0063.png</key>
		<dict>
			<key>frame</key>
			<string>{{1434,1582},{140,144}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{409,247},{140,144}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0064.png</key>
		<dict>
			<key>frame</key>
			<string>{{702,1588},{160,162}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{399,238},{160,162}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0065.png</key>
		<dict>
			<key>frame</key>
			<string>{{1050,1432},{180,180}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{389,229},{180,180}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0066.png</key>
		<dict>
			<key>frame</key>
			<string>{{1232,1530},{200,200}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{379,219},{200,200}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0067.png</key>
		<dict>
			<key>frame</key>
			<string>{{1360,1732},{220,218}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{369,210},{220,218}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0068.png</key>
		<dict>
			<key>frame</key>
			<string>{{1120,1740},{238,238}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{360,200},{238,238}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0069.png</key>
		<dict>
			<key>frame</key>
			<string>{{862,1750},{258,256}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{350,191},{258,256}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0070.png</key>
		<dict>
			<key>frame</key>
			<string>{{1762,1338},{274,276}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{342,181},{274,276}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0071.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,1750},{290,294}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{334,172},{290,294}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0072.png</key>
		<dict>
			<key>frame</key>
			<string>{{734,1282},{304,314}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{327,162},{304,314}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0073.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,1072},{316,332}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{321,153},{316,332}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0074.png</key>
		<dict>
			<key>frame</key>
			<string>{{1572,2},{328,350}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{315,144},{328,350}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0075.png</key>
		<dict>
			<key>frame</key>
			<string>{{1200,2},{342,370}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{308,134},{342,370}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0076.png</key>
		<dict>
			<key>frame</key>
			<string>{{808,2},{390,388}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{284,125},{390,388}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0077.png</key>
		<dict>
			<key>frame</key>
			<string>{{400,2},{396,406}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{281,117},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0078.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1634},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0079.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1226},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0080.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,818},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0081.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0082.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0083.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0084.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0085.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0086.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0087.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0088.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0089.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0090.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0091.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0092.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0093.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0094.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0095.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0096.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0097.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0098.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0099.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,410},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0100.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{396,406}}</string>
			<key>offset</key>
			<string>{-1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{281,118},{396,406}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cube-anim0.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:682f02c6f2ad36436990be76aa48f38e$</string>
		<key>textureFileName</key>
		<string>cube-anim0.png</string>
	</dict>
</dict>
</plist>
