<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>CUBE0101.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{390,402}}</string>
			<key>offset</key>
			<string>{-1,3}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{284,116},{390,402}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0102.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,406},{386,396}}</string>
			<key>offset</key>
			<string>{-1,7}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{286,115},{386,396}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0103.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,804},{382,392}}</string>
			<key>offset</key>
			<string>{-1,11}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{288,113},{382,392}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0104.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1198},{378,388}}</string>
			<key>offset</key>
			<string>{-1,16}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{290,110},{378,388}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0105.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1588},{374,384}}</string>
			<key>offset</key>
			<string>{-1,20}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{292,108},{374,384}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0106.png</key>
		<dict>
			<key>frame</key>
			<string>{{378,1588},{368,378}}</string>
			<key>offset</key>
			<string>{-1,23}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{295,108},{368,378}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0107.png</key>
		<dict>
			<key>frame</key>
			<string>{{382,1198},{364,374}}</string>
			<key>offset</key>
			<string>{-1,28}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{297,105},{364,374}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0108.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,804},{360,370}}</string>
			<key>offset</key>
			<string>{-1,32}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{299,103},{360,370}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0109.png</key>
		<dict>
			<key>frame</key>
			<string>{{390,406},{356,366}}</string>
			<key>offset</key>
			<string>{-1,36}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{301,101},{356,366}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0110.png</key>
		<dict>
			<key>frame</key>
			<string>{{394,2},{352,360}}</string>
			<key>offset</key>
			<string>{-1,40}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{303,100},{352,360}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0111.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,2},{346,356}}</string>
			<key>offset</key>
			<string>{-1,44}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{306,98},{346,356}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0112.png</key>
		<dict>
			<key>frame</key>
			<string>{{1106,2},{342,352}}</string>
			<key>offset</key>
			<string>{-1,48}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{308,96},{342,352}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0113.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,2},{338,346}}</string>
			<key>offset</key>
			<string>{-1,52}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{310,95},{338,346}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0114.png</key>
		<dict>
			<key>frame</key>
			<string>{{1460,342},{334,342}}</string>
			<key>offset</key>
			<string>{-1,56}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{312,93},{334,342}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0115.png</key>
		<dict>
			<key>frame</key>
			<string>{{1106,346},{330,338}}</string>
			<key>offset</key>
			<string>{-1,60}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{314,91},{330,338}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0116.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,350},{324,334}}</string>
			<key>offset</key>
			<string>{-1,65}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{317,88},{324,334}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0117.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,676},{320,328}}</string>
			<key>offset</key>
			<string>{-1,68}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{319,88},{320,328}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0118.png</key>
		<dict>
			<key>frame</key>
			<string>{{1078,678},{316,324}}</string>
			<key>offset</key>
			<string>{-1,72}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{321,86},{316,324}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0119.png</key>
		<dict>
			<key>frame</key>
			<string>{{1404,678},{312,320}}</string>
			<key>offset</key>
			<string>{-1,77}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{323,83},{312,320}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0120.png</key>
		<dict>
			<key>frame</key>
			<string>{{1726,678},{308,316}}</string>
			<key>offset</key>
			<string>{-1,81}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{325,81},{308,316}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0121.png</key>
		<dict>
			<key>frame</key>
			<string>{{1726,988},{302,312}}</string>
			<key>offset</key>
			<string>{-1,85}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{328,79},{302,312}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0122.png</key>
		<dict>
			<key>frame</key>
			<string>{{1404,992},{298,306}}</string>
			<key>offset</key>
			<string>{-1,89}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{330,78},{298,306}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0123.png</key>
		<dict>
			<key>frame</key>
			<string>{{1078,996},{294,302}}</string>
			<key>offset</key>
			<string>{-1,93}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{332,76},{294,302}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0124.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,998},{290,298}}</string>
			<key>offset</key>
			<string>{-1,97}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{334,74},{290,298}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0125.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,1290},{286,292}}</string>
			<key>offset</key>
			<string>{-1,101}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{336,73},{286,292}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0126.png</key>
		<dict>
			<key>frame</key>
			<string>{{748,1578},{280,288}}</string>
			<key>offset</key>
			<string>{-1,105}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{339,71},{280,288}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0127.png</key>
		<dict>
			<key>frame</key>
			<string>{{1030,1578},{276,284}}</string>
			<key>offset</key>
			<string>{-1,109}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{341,69},{276,284}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0128.png</key>
		<dict>
			<key>frame</key>
			<string>{{1042,1292},{272,278}}</string>
			<key>offset</key>
			<string>{-1,113}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{343,68},{272,278}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0129.png</key>
		<dict>
			<key>frame</key>
			<string>{{1308,1572},{268,274}}</string>
			<key>offset</key>
			<string>{-1,117}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{345,66},{268,274}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0130.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0131.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0132.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0133.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0134.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0135.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0136.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0137.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0138.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0139.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0140.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0141.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0142.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0143.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0144.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>CUBE0145.png</key>
		<dict>
			<key>frame</key>
			<string>{{1316,1292},{264,270}}</string>
			<key>offset</key>
			<string>{-1,121}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{347,64},{264,270}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>cube-anim1.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:f822f850f09d7b892e33fe07ae5288b0$</string>
		<key>textureFileName</key>
		<string>cube-anim1.png</string>
	</dict>
</dict>
</plist>
