<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>logo0001.png</key>
		<dict>
			<key>frame</key>
			<string>{{2006,2},{0,0}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{0,0}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0002.png</key>
		<dict>
			<key>frame</key>
			<string>{{1012,1306},{84,182}}</string>
			<key>offset</key>
			<string>{-382,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{84,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0003.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,1024},{84,182}}</string>
			<key>offset</key>
			<string>{-382,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{84,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0004.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,840},{84,182}}</string>
			<key>offset</key>
			<string>{-382,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{84,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0005.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,656},{84,182}}</string>
			<key>offset</key>
			<string>{-382,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{84,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0006.png</key>
		<dict>
			<key>frame</key>
			<string>{{472,570},{84,182}}</string>
			<key>offset</key>
			<string>{-382,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{84,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0007.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,472},{84,182}}</string>
			<key>offset</key>
			<string>{-382,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{84,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0008.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,386},{84,182}}</string>
			<key>offset</key>
			<string>{-382,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{84,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0009.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,386},{84,182}}</string>
			<key>offset</key>
			<string>{-382,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{84,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0010.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,386},{84,182}}</string>
			<key>offset</key>
			<string>{-382,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{84,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0011.png</key>
		<dict>
			<key>frame</key>
			<string>{{1180,1620},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0012.png</key>
		<dict>
			<key>frame</key>
			<string>{{1106,1362},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0013.png</key>
		<dict>
			<key>frame</key>
			<string>{{996,1748},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0014.png</key>
		<dict>
			<key>frame</key>
			<string>{{922,1490},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0015.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,1822},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0016.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,1564},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0017.png</key>
		<dict>
			<key>frame</key>
			<string>{{754,1306},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0018.png</key>
		<dict>
			<key>frame</key>
			<string>{{570,1306},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0019.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,1342},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0020.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,656},{256,182}}</string>
			<key>offset</key>
			<string>{-296,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{256,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0021.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,1122},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0022.png</key>
		<dict>
			<key>frame</key>
			<string>{{1110,990},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0023.png</key>
		<dict>
			<key>frame</key>
			<string>{{1342,806},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0024.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,938},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0025.png</key>
		<dict>
			<key>frame</key>
			<string>{{370,1642},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0026.png</key>
		<dict>
			<key>frame</key>
			<string>{{186,1642},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0027.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1642},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0028.png</key>
		<dict>
			<key>frame</key>
			<string>{{1634,370},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0029.png</key>
		<dict>
			<key>frame</key>
			<string>{{1634,186},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0030.png</key>
		<dict>
			<key>frame</key>
			<string>{{1634,2},{370,182}}</string>
			<key>offset</key>
			<string>{-239,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,223},{370,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0031.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,754},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0032.png</key>
		<dict>
			<key>frame</key>
			<string>{{1158,570},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0033.png</key>
		<dict>
			<key>frame</key>
			<string>{{738,570},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0034.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,1600},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0035.png</key>
		<dict>
			<key>frame</key>
			<string>{{386,922},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0036.png</key>
		<dict>
			<key>frame</key>
			<string>{{1578,738},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0037.png</key>
		<dict>
			<key>frame</key>
			<string>{{1578,554},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0038.png</key>
		<dict>
			<key>frame</key>
			<string>{{1394,386},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0039.png</key>
		<dict>
			<key>frame</key>
			<string>{{974,386},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0040.png</key>
		<dict>
			<key>frame</key>
			<string>{{554,386},{418,182}}</string>
			<key>offset</key>
			<string>{-214,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,223},{418,182}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0041.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,1098},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0042.png</key>
		<dict>
			<key>frame</key>
			<string>{{194,554},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0043.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1098},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0044.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,554},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0045.png</key>
		<dict>
			<key>frame</key>
			<string>{{1090,194},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0046.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,194},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0047.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0048.png</key>
		<dict>
			<key>frame</key>
			<string>{{1090,2},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0049.png</key>
		<dict>
			<key>frame</key>
			<string>{{546,2},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0050.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{542,190}}</string>
			<key>offset</key>
			<string>{-152,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{542,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>logo-anim0.png</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:cf15b0f2fa88b0453b823e7bb5012e1e$</string>
		<key>textureFileName</key>
		<string>logo-anim0.png</string>
	</dict>
</dict>
</plist>
