<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>logo0076.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1346},{846,190}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0077.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,1154},{846,190}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0078.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1154},{846,190}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0079.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,962},{846,190}}</string>
			<key>offset</key>
			<string>{0,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{57,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0080.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,962},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0081.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,770},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0082.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,770},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0083.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,578},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0084.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,578},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0085.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,386},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0086.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,386},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0087.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,194},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0088.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,194},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0089.png</key>
		<dict>
			<key>frame</key>
			<string>{{850,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0090.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0091.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0092.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0093.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0094.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0095.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0096.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0097.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0098.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0099.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
		<key>logo0100.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{846,190}}</string>
			<key>offset</key>
			<string>{-1,6}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{56,219},{846,190}}</string>
			<key>sourceSize</key>
			<string>{960,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>logo-anim2.png</string>
		<key>size</key>
		<string>{1698,1538}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:33aea4d0164a1f06cc4283f72a42f736$</string>
		<key>textureFileName</key>
		<string>logo-anim2.png</string>
	</dict>
</dict>
</plist>
