<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>CUBE0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1020},{2,2}}</string>
                <key>offset</key>
                <string>{-98,-61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,220},{2,2}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,462},{22,38}}</string>
                <key>offset</key>
                <string>{-88,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,193},{22,38}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,312},{44,74}}</string>
                <key>offset</key>
                <string>{-78,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,165},{44,74}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{800,890},{64,110}}</string>
                <key>offset</key>
                <string>{-67,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,138},{64,110}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,544},{84,146}}</string>
                <key>offset</key>
                <string>{-57,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,110},{84,146}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,718},{104,166}}</string>
                <key>offset</key>
                <string>{-48,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,96},{104,166}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,512},{112,172}}</string>
                <key>offset</key>
                <string>{-40,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{144,90},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,544},{112,172}}</string>
                <key>offset</key>
                <string>{-27,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,85},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,430},{112,172}}</string>
                <key>offset</key>
                <string>{-14,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{170,80},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,430},{112,172}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,75},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,544},{112,172}}</string>
                <key>offset</key>
                <string>{11,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,69},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,544},{112,172}}</string>
                <key>offset</key>
                <string>{24,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,64},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,398},{112,172}}</string>
                <key>offset</key>
                <string>{37,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,59},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,386},{104,166}}</string>
                <key>offset</key>
                <string>{47,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,60},{104,166}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,626},{88,150}}</string>
                <key>offset</key>
                <string>{55,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,64},{88,150}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,708},{68,116}}</string>
                <key>offset</key>
                <string>{65,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,71},{68,116}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,202},{46,78}}</string>
                <key>offset</key>
                <string>{76,40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{293,81},{46,78}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,434},{26,44}}</string>
                <key>offset</key>
                <string>{86,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{313,88},{26,44}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1014},{6,8}}</string>
                <key>offset</key>
                <string>{96,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{333,97},{6,8}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1014},{6,10}}</string>
                <key>offset</key>
                <string>{96,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{333,214},{6,10}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,282},{28,46}}</string>
                <key>offset</key>
                <string>{85,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{311,187},{28,46}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,246},{50,84}}</string>
                <key>offset</key>
                <string>{74,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{289,158},{50,84}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,666},{70,120}}</string>
                <key>offset</key>
                <string>{64,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,130},{70,120}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,718},{92,158}}</string>
                <key>offset</key>
                <string>{53,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,101},{92,158}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,276},{108,168}}</string>
                <key>offset</key>
                <string>{45,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,94},{108,168}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,316},{112,172}}</string>
                <key>offset</key>
                <string>{34,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,88},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,316},{112,172}}</string>
                <key>offset</key>
                <string>{20,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,83},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,284},{112,172}}</string>
                <key>offset</key>
                <string>{7,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,77},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,202},{112,172}}</string>
                <key>offset</key>
                <string>{-6,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,72},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,202},{112,172}}</string>
                <key>offset</key>
                <string>{-19,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,66},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,170},{112,172}}</string>
                <key>offset</key>
                <string>{-32,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{152,61},{112,172}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{110,170}}</string>
                <key>offset</key>
                <string>{-45,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{140,58},{110,170}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,544},{94,162}}</string>
                <key>offset</key>
                <string>{-52,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,60},{94,162}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,332},{74,126}}</string>
                <key>offset</key>
                <string>{-63,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,69},{74,126}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,58},{52,88}}</string>
                <key>offset</key>
                <string>{-74,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,78},{52,88}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,148},{30,52}}</string>
                <key>offset</key>
                <string>{-84,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,86},{30,52}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,246},{10,14}}</string>
                <key>offset</key>
                <string>{-95,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,96},{10,14}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,1022},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,1014},{4,6}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,156},{4,6}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,1014},{4,16}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,151},{4,16}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,1014},{4,26}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,146},{4,26}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,486},{34,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,143},{34,34}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,388},{44,44}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,137},{44,44}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{54,54}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,132},{54,54}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,180},{62,64}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,127},{62,64}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,812},{70,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,124},{70,72}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,460},{80,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,118},{80,82}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,738},{92,92}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,113},{92,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,718},{100,102}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,108},{100,102}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,778},{110,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,104},{110,110}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,544},{120,120}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,99},{120,120}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,890},{130,130}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,94},{130,130}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,864},{138,138}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{170,91},{138,138}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,716},{146,148}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,85},{146,148}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,822},{152,158}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,80},{152,158}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,114},{160,168}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,75},{160,168}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,2},{166,176}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,71},{166,176}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,826},{172,186}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{153,66},{172,186}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0076.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{196,196}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,61},{196,196}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0077.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0078.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0079.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0080.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0081.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0082.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0083.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0084.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0085.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0086.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0087.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0088.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0089.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0090.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0091.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0092.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0093.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0094.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0095.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0096.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0097.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0098.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0099.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>CUBE0100.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,58},{198,204}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cube-anim0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cbc5aa790a8a214694417d8de506a521$</string>
            <key>textureFileName</key>
            <string>cube-anim0.png</string>
        </dict>
    </dict>
</plist>
