<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{1012,2},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,668},{42,92}}</string>
                <key>offset</key>
                <string>{-191,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{42,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,524},{42,92}}</string>
                <key>offset</key>
                <string>{-191,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{42,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,430},{42,92}}</string>
                <key>offset</key>
                <string>{-191,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{42,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,336},{42,92}}</string>
                <key>offset</key>
                <string>{-191,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{42,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,292},{42,92}}</string>
                <key>offset</key>
                <string>{-191,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{42,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,242},{42,92}}</string>
                <key>offset</key>
                <string>{-191,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{42,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,198},{42,92}}</string>
                <key>offset</key>
                <string>{-191,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{42,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,198},{42,92}}</string>
                <key>offset</key>
                <string>{-191,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{42,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{42,92}}</string>
                <key>offset</key>
                <string>{-191,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{42,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,822},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,692},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,892},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,762},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,928},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,798},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,668},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,668},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,684},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,336},{128,92}}</string>
                <key>offset</key>
                <string>{-148,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{128,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0021.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,574},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0022.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,504},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0023.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,410},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0024.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,814},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0025.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,832},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0026.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,832},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0028.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,190},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0029.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,96},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0030.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,2},{186,92}}</string>
                <key>offset</key>
                <string>{-120,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,111},{186,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0031.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,480},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0032.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,386},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0033.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,292},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0034.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,292},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0035.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,472},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0036.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,378},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0037.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,284},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0038.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,198},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0039.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,198},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0040.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,198},{210,92}}</string>
                <key>offset</key>
                <string>{-107,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,111},{210,92}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0041.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,558},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0042.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,284},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0044.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0045.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,100},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0046.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,100},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0047.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0048.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,2},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0049.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0050.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{272,96}}</string>
                <key>offset</key>
                <string>{-76,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{272,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logo-anim0.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:942b6a4ec55e719ca3770bbb72ea1348$</string>
            <key>textureFileName</key>
            <string>logo-anim0.png</string>
        </dict>
    </dict>
</plist>
