<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>logo0051.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,2},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0052.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,198},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0053.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,198},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0054.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0055.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,100},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0056.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,100},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0057.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0058.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0059.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0060.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,96}}</string>
                <key>offset</key>
                <string>{-61,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{304,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0061.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,590},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0062.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,590},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0063.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,308},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0064.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,296},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0065.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,492},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0066.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,492},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0067.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,394},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0068.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0069.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,296},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0070.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{364,96}}</string>
                <key>offset</key>
                <string>{-31,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,109},{364,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0071.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{424,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{424,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0072.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,786},{424,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{424,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0073.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{424,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{424,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0074.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,688},{424,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{424,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
            <key>logo0075.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,688},{424,96}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,109},{424,96}}</string>
                <key>sourceSize</key>
                <string>{480,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>logo-anim1.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8e7b5730d4cfb958e2fc43a8267b047$</string>
            <key>textureFileName</key>
            <string>logo-anim1.png</string>
        </dict>
    </dict>
</plist>
